/*
***
** Social Network
***
**  CSS TABLE OF CONTENTS
**
**  1.0 - Variables
**  2.0 - Reset
**  3.0 - Fonts
**  4.0 - Globals
**  5.0 - Header
**  6.0 - Footer
**  7.0 - HOME
**  8.0 - ABOUT
**  -1 - Responsive Responsive
**
****
*/

/* ==========================================================================
   1.0  Variables
   ========================================================================== */
/* ==========================================================================
  2.0 - Reset
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bordo {
  border: 1px solid red;
  border-top: 0;
  border-bottom: 0;
}
.post {
  border: 1px solid green;
}
/* ==========================================================================
  3.0 - Fonts
   ========================================================================== */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
 *//* ==========================================================================
  4.0 - Globals
   ========================================================================== */
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.btn.btn-primary.btn-segui{
  margin-left: auto;
}
/* ==========================================================================
   5.0 - Header
   ========================================================================== */
/* ==========================================================================
  6.0 - Footer
   ========================================================================== */
/* ==========================================================================
  7.0 - Posts
   ========================================================================== */
/* post */
.post {
  padding: 0 12px;
}
/* post-user-info */
.post .post-user-info{
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 6px 0 12px;
}

.post .post-user-info .img-user,
.modal-body .img-user {
  height: 54px;
  width: auto;
  aspect-ratio: 1;
  background-color: aquamarine;
  border-radius: 50%;
  overflow: hidden;
}
.post .post-user-info .img-user img{
  height: 100%;
  width: auto;
  object-fit: cover;
}
.post .post-user-info .user-info .name-user,
.modal-body .user-info .name-user{
  font-weight: 600;
  font-size: 18px;
}
.post .post-user-info .user-info .last-access,
.modal-body .user-info .last-access{
  font-size: 14px;
  color: #a0a0a0;
}

.post .post-description .whoLike, 
.img-likes{
  display: flex;
  gap: 5px;
  margin-right: -15px;
}

.post .post-description .whoLike .img-likes span {
  height: auto;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  
}

.post .post-description .whoLike img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.post .post-description .whoLike .img-likes span:nth-child(2) {
  position: relative;
  left: -10px;
}
.post .post-description .whoLike .img-likes span:nth-child(3) {
  position: relative;
  left: -20px;
}

/* post-content */
.post .post-content {
  margin: 12px 0;
  width: 100%;
}
.post .post-content img {
  width: 100%;
  height: a;
}

/* post-description */
.post .post-description .post-actions {
  display: flex;
  justify-content: space-between;
}

.post .post-description .post-actions ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  margin-bottom: 0;
}
.post .post-description .post-actions ul li a,
.post .post-description .post-actions a {
  font-size: 24px;
  color: black;
}

.post .post-description .description span {
  font-weight: 600;
}
.post .post-description .whoLike{
padding: 5px 0px;
align-items: center;
}

.post .post-description .whoLike .like{
  text-decoration: none;
  font-weight: 600;
  color: black;
}
/* ==========================================================================
  -1 - Responsive
   ========================================================================== */
/* XXX-Large devices (large desktops, less than 1800px) */

@media (max-width: 1799.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
      2.0 - Reset
       ========================================================================== */
  /* ==========================================================================
      3.0 - Fonts
       ========================================================================== */
  /* ==========================================================================
      4.0 - Globals
       ========================================================================== */
  /* ==========================================================================
       5.0 - Header
       ========================================================================== */
  /* ==========================================================================
      6.0 - Footer
       ========================================================================== */
  /* ==========================================================================
      7.0 - HOME
       ========================================================================== */
}

/* XX-Large devices (large desktops, less than 1600px) */

@media (max-width: 1599.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 768.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 321px) */

@media (max-width: 320.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}
